<%- include("partials/header.ejs") %>
<ul>
    <% posts.forEach((post, index) => { %>
        <li>
            <h2 class="post-title"><%= post.title %></h2>
            <p class="post-content"><%= post.content %></p>
            <!-- Assuming post.image contains the image filename -->
            <img src="/images/<%= post.image %>" alt="Post Image" class="post-image">
            <div class="properties">
                <a href="/edit/<%= index %>"><button type="submit">Edit</button></a><br><br>
                <form action="/delete/<%= index %>" method="post">
                <button type="submit">Delete</button>
                </form>
            </div><br><br>
            
        </li>
    <% }); %>
</ul>

